@tailwind base;
@tailwind components;
@tailwind utilities;
.modal_height {
  height: 65vh;
}
.hover_close_modal:hover {
  /* transition: .3s ease-in-out; */
  color: #f1f1f1;
  background-color: #f13945;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.switch .slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 20px;
  background-color: #e0dede;
  transition: 0.3s;
  border-radius: 1.5rem;
}

.switch input:checked ~ .slider {
  background-color: #333333;
}

.switch .slider:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #222222;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.switch input:checked ~ .slider:before {
  right: calc(100% - 15px);
  background-color: #f1f1f1;
}

.link_timHieuThem {
  color: rgb(14 165 233);
}
.link_timHieuThem:hover {
  color: #b4b4b4;
}
